#titulo-importante {
   background-color: blue;
   color: white;
}

.sub-titulo {
    background-color: yellow;
    color: black;
}

section {
    background-color: green;
    
}

.titulo-secao{
    color: white;
}

.texto-generico{
    font-weight: 800;

}

.titulo-pouco-importante {
    background-color: black;
    color: white;
}